* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  border-collapse: collapse;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 24px;
  background-color: rgb(33, 28, 66);
  padding-top: 15px;
}

h1 {
  color: rgb(235, 16, 133);
  font-size: 105px;
  text-shadow: 5px 5px 0 rgb(85, 32, 162);
}

.calcCont {
  margin: 0 auto;
  width: 36%;
  background-image: linear-gradient(0deg, rgb(235, 16, 133), rgb(37, 129, 204));
  display: flex;
  flex-flow: row wrap;
}

button {
  width: 25%;
  height: 100px;
  border: 1px solid rgb(122, 171, 221);
  background-color: rgba(185, 209, 60, 0);
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 24px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

button:focus {
  outline: none;
}

#display {
  background-color: none;
  text-align: right;
  width: 75%;
  padding-right: 30px;
}

#divide, #multiply, #add, #subtract, #decimal, #equals {
  background-color: rgba(245, 46, 255, 0.32);
}

#divide:hover, #multiply:hover, #add:hover, #subtract:hover, #decimal:hover, #equals:hover {
  background-color: rgba(226, 46, 255, 0.54);
}
